button {
    background-color: var(--MediumBlue);
    color: var(--LightGrey);
    border: none;
    padding: 1.5rem 8rem;
    border-radius: 2.5rem;
    cursor: pointer;

    -webkit-box-shadow: 0px 19px 14px -15px rgba(13,22,20,1);
    -moz-box-shadow: 0px 19px 14px -15px rgba(13,22,20,1);
    box-shadow: 0px 19px 14px -15px rgba(13,22,20,1);
}